.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-card {
    position: relative;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #5a7381;
    background-color: rgba(228, 170, 222, 0.44);
    border-radius: 5px;
    text-align: center;
}

.pokemon-card:hover {
    transform: translateY(-5px) rotate3d(0, 1, 0, 5deg);
}

.pokemon-content {
    position: relative;
}

.pokemon-content img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.pokemon-content p {
    margin-top: 10px;
    font-size: 16px;
    font-family: Circular, sans-serif;
}

h2
{
    text-align: center;
}