.Navbar {
    font-family: Circular, sans-serif;
    padding: 10px 0;
    text-align: left;
}

.Navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

.Navbar ul li {
    display: inline;
    margin: 0 10px;
}

.Navbar ul li a {
    text-decoration: none;
    color: #0c0909;
    font-size: 24px;
}

.Navbar ul li a:hover {
    text-decoration: underline;
}

.logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}